<div class="card mb-5">
    <div class="card-header"  style="background-color:purple;">
        <h4 class="card-title"><a class="text-light" href="/post/{{id}}">{{title}}</a></h4>
        <h6 class="mb-2 text-light">posted by {{user.username}} on {{format_date date}} {{format_time date}} </h6>
    </div>
    <div class="card-body">
        <p class="card-text">{{content}}</p>
    </div>
</div>